@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.item-header { grid-area: top; }
.item-hero { grid-area: hero; }
.item-section-intro { grid-area: section1; }
.item-section-benefits { grid-area: section2; }
.item-section-theats { grid-area: section3; }
.item-footer { grid-area: bottom; }

body {
    display: grid;
    grid-template-areas:
    'top'
    'hero'
    'section1'
    'section2'
    'section3'
    'bottom';

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #404040;
}

/* heading and logo */

header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1em;
}

header a {
    text-decoration: none;
}

h1 {
    letter-spacing: 4px;
    color: #000;
}

#logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000;
    font-size: 230%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
} 

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #404040;
}

.active {
    border-bottom: 1px solid #404040;
}

/* hero image and cover text*/

#hero-extern {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/elephant-crossing-road.jpg') no-repeat center center;
    background-size: cover;

    /* animates zum effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #fff;
}


/* footer */

footer {
    height: 150px;
} 

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #404040;
}

/* gallery */
#pictures {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#pictures > img {
    width: 100%;
} 


/* media queries */
#pictures {
    column-count: 3;
}

/* for small screen sizes 800px and below */
@media screen and (max-width: 800px) {
    #pictures {
        column-count: 2;
    }
}
