@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.item-header { grid-area: header; }
.item-hero { grid-area: hero; }
.item-section1 { grid-area: intro; }
.item-footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'hero'
    'intro'
    'footer';

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #404040;
}

/* heading and logo */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 2em;
}

header a {
    text-decoration: none;
}

#logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-size: 200%;
  } 

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
} 

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    color: inherit;
} 

#menu a:hover {
    border-bottom: 1px solid #404040;
}

.active {
    border-bottom: 1px solid #404040;
}

/* hero image and cover text*/

#hero-extern {
    height: 85vh;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/elephant-crossing-road.jpg') no-repeat center center;
    background-size: cover;

    /* animates zum effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* item-section1 */

.right-card { grid-area: rightcard; }
.middle-card { grid-area: middlecard; }
.left-card { grid-area: leftcard; }

.item-section1 {
    display: grid;
    max-height: 600px;
    width: 100%;
    grid-template-areas:
        'rightcard'
        'middlecard'
        'leftcard';
    margin-bottom: 400px;    
}

.item-section1 span {
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    text-align: center;
}

/* .item-section1 right-card */
.right-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.right-card .item {
    max-width: 30%;
}

.item img {
    max-width: 100%;
}

/* item-section1 middle-card */

.middle-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.middle-card .item {
    max-width: 30%;
}

/* item-section1 left-card */
.left-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1rem;
    padding-left: 1em;
    padding-right: 1em;
}

.left-card .item {
    max-width: 30%;
}

.item-section1 span {
    text-transform: uppercase;
    font-weight: 400;
}

#appeal {
    margin-top: 10px;
}

/* footer */

footer {
    height: 150px;
} 

.footer-networks {
    text-align: center;
}

.footer-networks > li {
    display: inline;
}

.footer-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #404040;
}


/* gallery */
#pictures {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#pictures > img {
    width: 100%;
} 


/* media queries */

/* For screen sizes from 950px below */
@media screen and (max-width: 950px) {
    #hero-image {
        background-size: contain;
    }

    #pictures {
        column-count: 3;
    }
}

/* For smaller screen sizes 800px and below */
@media screen and (max-width: 800px) {
    #pictures {
        column-count: 2;
    }
}

/* For smaller screen sizes 450px and below */
@media screen and (max-width: 450px) {
    .right-card, .middle-card, .left-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    }
}


/* .form-section */

.form-section {
    clear: left;
    background-image: url(../images/antelope-sunset.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-form {
    margin:150px 10% 0 0;
    color: #000;
    background-color: rgba(122, 154, 168, 0.6);
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.form-header {
    color: #000;
    margin-bottom: 20px;
}

.input-text {
    width: 100%;
    height: 30px;
    color: #000;
}

.interest-button {
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.interest-button:hover {
    color: #fff;
    background-color: #000;
}