@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.item-header { grid-area: header; }
.item-hero { grid-area: hero; }
.item-section1 { grid-area: intro; }
.item-section2 { grid-area: benefits; }
.item-section3 { grid-area: threats; }
.item-footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'hero'
    'intro'
    'benefits'
    'threats'
    'footer';

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #404040;
}

/* heading and logo */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    padding: 2em;
}

header a {
    text-decoration: none;
}

#logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-size: 200%;
  } 

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
} 

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    color: inherit;
} 

#menu a:hover {
    border-bottom: 1px solid #404040;
}

.active {
    border-bottom: 1px solid #404040;
}

/* hero image and cover text*/

#hero-extern {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/elephant-crossing-road.jpg') no-repeat center center;
    background-size: cover;

    /* animates zum effect on loading page */
    /* animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; */
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #fff;
}

/* item-section1 */

.right-card { grid-area: rightcard; }
.middle-card { grid-area: middlecard; }
.left-card { grid-area: leftcard; }

.item-section1 {
    display: grid;
    max-height: 600px;
    width: 100%;
    grid-template-areas:
        'rightcard'
        'middlecard'
        'leftcard';
    margin-bottom: 155px;    
}

.item-section1 span {
    text-transform: uppercase;
    font-weight: 400;
}

/* .item-section1 right-card */
.right-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.right-card .item {
    max-width: 30%;
}

.item img {
    max-width: 100%;
}

/* item-section1 middle-card */

.middle-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.middle-card .item {
    max-width: 30%;
}

/* item-section1 left-card */
.left-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1rem;
    padding-left: 1em;
    padding-right: 1em;
}

.left-card .item {
    max-width: 30%;
}

.item-section1 span {
    text-transform: uppercase;
    font-weight: 400;
}

/* item-section2 */

.card-around1 { grid-area: cardaround1 }
.card-around2 { grid-area: cardaround2}

.item-section2 {
    display: grid;
    max-height: 400px;
    width: 100%;
    grid-template-areas:
        'cardaround1'
        'cardaround2';
    margin-bottom: 150px;
    margin-top: 30px;
}

.item-section2 span {
    text-transform: uppercase;
    font-weight: 400;
}


/* .item-section2 card-around1 */

.card-around1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.card-around1 .item {
    max-width: 30%;
}

.item img {
    max-width: 100%;
}

/* .item-section2 card-around2 */
.card-around2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.card-around1 .item {
    max-width: 30%;
}

.item img {
    max-width: 100%;
}


/* footer */

footer {
    height: 150px;
} 

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #404040;
}


/* gallery */
#pictures {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#pictures > img {
    width: 100%;
} 


/* media queries */
#pictures {
    column-count: 3;
}

/* for small screen sizes 800px and below */
@media screen and (max-width: 800px) {
    #pictures {
        column-count: 2;
    }
}



